.order-item {
    margin-top: 10px !important;
    margin-bottom: 0px !important;
}
.order-label {
    width: 80px !important;
}
.order-input {
    margin-left: 80px !important;
    width: 172px !important;
}

.order-password-input {
    margin-left: 80px !important;
    width: 172px !important;
}

.code-style {
    margin-top: 50px !important;
}

p {
    margin-top: 10px !important;
}

.body-center {
    margin: auto;
    width: 70%;
}