<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{lay-layout}"
>
<th:block layout:fragment="content">
    <div class="layui-container" style="padding: 30px;">
        <form class="layui-form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
            <div class="layui-form-item">
                <label class="layui-form-label required">商品描述</label>
                <div class="layui-input-block">
                    <input type="text" name="description" lay-verify="required" autocomplete="off" placeholder="请输入商品描述"
                           class="layui-input">
                </div>
            </div>

          <div class="layui-form-item">
            <label class="layui-form-label required">资源链接</label>
            <div class="layui-input-block">
              <input type="text" name="url" lay-verify="required|url" autocomplete="off" placeholder="请输入资源网盘地址，供爱享狐管理员审核"
                     class="layui-input">
            </div>
          </div>

            <div class="layui-form-item">
                <label class="layui-form-label required">价格</label>
                <div class="layui-input-block">
                    <input type="text" name="amount" lay-verify="required|number" autocomplete="off"
                           placeholder="请输入商品价格" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label required">密码</label>
                <div class="layui-input-block">
                    <input type="text" name="zipPwd" lay-verify="required" autocomplete="off" placeholder="请输入密码"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
            <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
        </form>
    </div>
</th:block>

<th:block layout:fragment="js">
    <script>
        layui.config({
            base: '/js/modules/user/item/' //你存放新模块的目录，注意，不是layui的模块目录
        }).use('add'); //加载入口
    </script>
</th:block>
</html>